.testimonialCard {
  flex: 1 1 40%;
  display: flex;
  border: 0.2rem solid;
  border-radius: 1rem;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
}

.testimonialImageContainer {
  padding: 1rem 0;
  flex-shrink: 0;
  width: 5rem;
  height: 5rem;
  overflow: hidden;


}

.testimonialImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}