

.testimonialsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 2rem;
}


/* Mobile responsiveness */
@media (max-width: 768px) {

    .testimonialsContainer {
        margin-top: 1rem;
    }
}

