.adminPage {
    padding: 2rem;
    text-shadow: 0.1rem 5rem 2rem #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pageContainer {
    display: flex;
    flex-direction: row;
    /* Change to column layout on smaller screens */
    gap: 2rem;
    text-shadow: 0.1rem 5rem 2rem #000000;


}

.describe {
    border-left: 0.3rem solid Orange;
    padding-left: 0.5rem;
    min-width: 25rem;

}

.ordersContainer,
.testimonialsContainer  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 2rem;
}


/* Mobile responsiveness */
@media (max-width: 768px) {
    .pageContainer {
        gap: 1rem;
    }

    .machineFormContainer {
        order: 2;
        /* Change order to display form below description on smaller screens */
    }

    .ordersContainer,
    .testimonialsContainer {
        margin-top: 1rem;
    }
}